<h2><%= @event.name %></h2> <a style="float:right; margin-right:20px;" href="/events/">Events Dashboard<a></br>
<div style="display: inline-block; width:350px; vertical-align:top;">
Host: <%= @event.name %></br>
Date: <%= @event.date.strftime("%B %d, %Y") %></br>
Location: <%= @event.location %>, <%= @event.location_state %></br>
People who are joining the event: <%= @event.guests.count %></br></br>

<table style="border-collapse: collapse;">
<tr style="background-color: #dddddd">
<th style="padding:8px;border:1px solid black;text-align: left">Name</th>
<th style="padding:8px;border:1px solid black;text-align: left">Location</th>
<th style="padding:8px;border:1px solid black;text-align: left">State</th>
</tr>
<tbody><% @guests.each do |guest| %>
<tr>
  <td style="padding:8px;border:1px solid black;text-align: left"><%= guest.user.first_name%> <%= guest.user.last_name%></td>
  <td style="padding:8px;border:1px solid black;text-align: left"><%= guest.user.location %></td>
  <td style="padding:8px;border:1px solid black;text-align: left"><%= guest.user.location_state %></td>
</tr>  <% end %>
</tbody>
</table>
</br>
</div>

<div style="display: inline-block; width:400px;">
<h3>Discussion about this event:</h3>
<div style="font-size: .9em; width: 370px; height: 200px; overflow: scroll; padding: 3px; border: 1px solid gray;">
  <% @comments.each do |comment| %>
  <%=comment.user.first_name%> says: <%=comment.content%> </br>
  -------------------</br>
  <%end%>
</div>
<form action="/comments/<%=@event.id%> " method="post">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
</br>
<label for="comment[content]">Add Comment:</label></br>
<textarea rows="4" cols="60" name="comment[content]"></textarea></br>
<input style="float:right;margin-right:22px;"type="submit" value="Submit Comments"/>
</form>
</br>
</div>
