<h2>Welcome, <%= @user.first_name %></h2> <a style="float:right; margin-right:20px;" href="/users/<%=@user.id%>/edit">Edit Profile <a>
</br>
  Here are some events at your state:
  <table style="border-collapse: collapse;">
  <tr style="background-color: #dddddd">
  <th style="padding:8px;border:1px solid black;text-align: left">Name</th>
  <th style="padding:8px;border:1px solid black;text-align: left">Date</th>
  <th style="padding:8px;border:1px solid black;text-align: left">Location</th>
  <th style="padding:8px;border:1px solid black;text-align: left">Host</th>
  <th style="padding:8px;border:1px solid black;text-align: left">Action/Status</th>
  </tr>
  <tbody><% @events1.each do |event| %>
  <tr>
    <td style="padding:8px;border:1px solid black;text-align: left"><a href="/events/<%= event.id %>"><%= event.name %></a></td>
    <td style="padding:8px;border:1px solid black;text-align: left"><%= event.date.strftime("%B %d %Y") %></td>
    <td style="padding:8px;border:1px solid black;text-align: left"><%= event.location %></td>
    <td style="padding:8px;border:1px solid black;text-align: left"><%= event.user.first_name %></td>
    <td style="padding:8px;border:1px solid black;text-align: left">
        <% if event.users_joined.include?(current_user) %>
        Joining   <a href="/join/<%=event.id%>" data-method = "delete">Cancel</a>
        <% else %>
        <a href="/join/<%=event.id%>" data-method = "post">Join</a>
          <% end %>
        <% if event.user == current_user %>
        <a href="/events/<%= event.id %>" data-method = "delete">Delete</a>
        <% end %>
        </td>
  </tr>  <% end %>

</tbody>
</table>
</br>
  Here are some events at other states:
  <table style="border-collapse: collapse;">
  <tr style="background-color: #dddddd">
  <th style="padding:8px;border:1px solid black;text-align: left">Name</th>
  <th style="padding:8px;border:1px solid black;text-align: left">Date</th>
  <th style="padding:8px;border:1px solid black;text-align: left">Location</th>
  <th style="padding:8px;border:1px solid black;text-align: left">State</th>
  <th style="padding:8px;border:1px solid black;text-align: left">Host</th>
  <th style="padding:8px;border:1px solid black;text-align: left">Action/Status</th>
  </tr>
  <tbody><% @events2.each do |event| %>
  <tr>
    <td style="padding:8px;border:1px solid black;text-align: left"><a href="/events/<%= event.id %>"><%= event.name %></a></td>
    <td style="padding:8px;border:1px solid black;text-align: left"><%= event.date.strftime("%B %d %Y") %></td>
    <td style="padding:8px;border:1px solid black;text-align: left"><%= event.location %></td>
    <td style="padding:8px;border:1px solid black;text-align: left"><%= event.location_state %></td>
    <td style="padding:8px;border:1px solid black;text-align: left"><%= event.user.first_name %></td>
    <td style="padding:8px;border:1px solid black;text-align: left">
      <% if event.users_joined.include?(current_user) %>
      <a href="/join/<%=event.id%>" data-method = "delete">Cancel</a>
      <% else %>
      <a href="/join/<%=event.id%>" data-method = "post">Join</a>
        <% end %>
        <% if event.user == current_user %>
        <a href="/events/<%= event.id %>" data-method = "delete">Delete</a>
        <% end %>
      </td>
  </tr>
  <% end %>
</tbody>
</table>
</br>

</br>
  <form style="display: inline-block; padding: 10px;" action="/events/" method="post">
  <h3>Add Event</h3>
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <table>

    <tr>
      <td style="text-align: left"><label for="event[name]">Name</label></td>
      <td style="text-align: left"><input type="text" name="event[name]"/></td>
    </tr>

    <tr>
      <td style="text-align: left"><label for="event[date]">Date</label></td>
      <td style="text-align: left"><input type=date name="event[date]"/></td>
    </tr>

    <tr>
      <td style="text-align: left"><label for="Name">Location</label></td>
      <td style="text-align: left"><input style="width:70px;"type="text" name="event[location]"/>
      <select name="event[location_state]">
        <option value="AL">AL</option>
        <option value="AK">AK</option>
        <option value="AZ">AZ</option>
        <option value="AR">AR</option>
        <option value="CA" selected>CA</option>
        <option value="CO">CO</option>
        <option value="CT">CT</option>
        <option value="DE">DE</option>
        <option value="DC">DC</option>
        <option value="FL">FL</option>
        <option value="GA">GA</option>
        <option value="HI">HI</option>
        <option value="ID">ID</option>
        <option value="IL">IL</option>
        <option value="IN">IN</option>
        <option value="IA">IA</option>
        <option value="KS">KS</option>
        <option value="KY">KY</option>
        <option value="LA">LA</option>
        <option value="ME">ME</option>
        <option value="MD">MD</option>
        <option value="MA">MA</option>
        <option value="MI">MI</option>
        <option value="MN">MN</option>
        <option value="MS">MS</option>
        <option value="MO">MO</option>
        <option value="MT">MT</option>
        <option value="NE">NE</option>
        <option value="NV">NV</option>
        <option value="NH">NH</option>
        <option value="NJ">NJ</option>
        <option value="NM">NM</option>
        <option value="NY">NY</option>
        <option value="NC">NC</option>
        <option value="ND">ND</option>
        <option value="OH">OH</option>
        <option value="OK">OK</option>
        <option value="OR">OR</option>
        <option value="PA">PA</option>
        <option value="RI">RI</option>
        <option value="SC">SC</option>
        <option value="SD">SD</option>
        <option value="TN">TN</option>
        <option value="TX">TX</option>
        <option value="UT">UT</option>
        <option value="VT">VT</option>
        <option value="VA">VA</option>
        <option value="WA">WA</option>
        <option value="WV">WV</option>
        <option value="WI">WI</option>
        <option value="WY">WY</option>
      </select></td>

    </tr>

    <tr>
        <input name="event[user_id]" value="<%=@user.id%>" type="hidden">
      <td style="text-align: left"></td>
      <td style="text-align: right"><input type="submit" value="Add Event" /></td>
    </tr>

  </table>
  </form>
